// page-current-todos: element selector
// .scroll-content: class selector
// #id: ID selector
tja-page-todo-list {   
/*    
    .scroll-content {
        padding: 0px !important;
    }    
*/    
/*    
    ion-grid.grid {
        padding-left: 0px;
    }
    .scroll-content {
        padding-left: 0px !important;
    }
    ion-item {
         padding-left: 0px !important;       
    }
*/    
} 

/*
page-current-todos ion-grid.grid {
    padding-left: 0px;
}
*/

